/*//////////////////////////////////////////////////////////
// N A V B A R
//////////////////////////////////////////////////////////*/

.navbar { z-index: 9999; margin-top: 0 !important; }
.navbar-default { background-color: #fff; border-color: #009ACD; }

.navbar-default .navbar-brand {
    font-family: 'blackoutmidnight', Verdana, serif;
    font-size: 35px;
    color: #000;
    background-color: transparent;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover { color: #009ACD; background-color: transparent; }

.navbar-default .navbar-nav > li > a { font-family: 'quicksandregular', Verdana, serif; color: #000; }
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus { color: #009ACD; background-color: #fff; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover { color: #fff; background-color: #009ACD; }

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus { border-color: #009ACD; background-color: #fff; }
.navbar-default .navbar-toggle:hover { color: #000; background-color: #009ACD; }

/*//////////////////////////////////////////////////////////
// I M A G E S
//////////////////////////////////////////////////////////*/
  
/* The hero image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../res/img/integrated-circuits.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.hero-text h1 { font-family: 'blackoutmidnight', Arial, sans-serif; font-size: 8em; }
.hero-text p { font-family: 'quicksandregular', Arial, sans-serif; font-size: 2em; }

/*//////////////////////////////////////////////////////////
// L A Y O U T   C R O S S   P L A T F O R M
//////////////////////////////////////////////////////////*/

body, html { height: 100%; }
body{ background-color: #ffffff; margin: 0; }

#content { height: 100%; }

footer {
    background-color: #fff;
    margin-top: 0 !important;
    text-align: center;
}
footer h3 { 
    font-family: 'quicksandregular', Verdana, serif;
    text-align: center;
    color: #000;
}
footer a { display: inline-block; width: 80px; }
#github-icon { height: auto; max-width: 80%; }
#linkedin-icon { height: auto; max-width: 100%; }

/*//////////////////////////////////////////////////////////
// A B O U T   C O N T E N T
//////////////////////////////////////////////////////////*/

.skills-matrix {
    margin: 0 auto;
    max-width: 800px;
    position: relative;
}

hr { border: 3px solid #f1f1f1; }

.PLCopen-logic-bar {width: 50%; height: 18px; background-color: #007AC3;}
.PLCopen-motion-control-bar {width: 25%; height: 18px; background-color: #007AC3;}
.C-bar {width: 35%; height: 18px; background-color: #3949AB;}
.C-sharp-bar {width: 15%; height: 18px; background-color: #455A64;}
.HTML5-bar {width: 20%; height: 18px; background-color: #E44D26;}
.CSS3-bar {width: 20%; height: 18px; background-color: #264DE4;}
.JS-bar {width: 10%; height: 18px; background-color: #D4B830;}

table { width: 760px; }
table tr td { padding-bottom: 20px; }
table tr td.logo { width: 100px; }
table tr td img { width: 60px; height: 50px; }
table tr td.bar { width: 560; }
table tr td.experience { width: 100px; text-align: right; }

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/*//////////////////////////////////////////////////////////
// L A Y O U T   M O B I L E   B R O W S E R
//////////////////////////////////////////////////////////*/

@media only screen and (max-width: 960px) { /* Mobile: max-width: 480px */

    /* Footer */
    footer { padding: 2% 0; }
    footer img { margin-bottom: 10% }
    footer h3 { font-size: 3.5vw; padding-bottom: 1%; }
}

/*//////////////////////////////////////////////////////////
// L A Y O U T   P C   B R O W S E R
//////////////////////////////////////////////////////////*/

@media only screen and (min-width: 961px) {

    /* Footer */
    footer { padding: 2% 0; }
    footer h3 { font-size: 0.8vw; padding-bottom: 1%; }
}

/*//////////////////////////////////////////////////////////
// F O N T S
//////////////////////////////////////////////////////////*/

@font-face {
    font-family: 'blackoutmidnight';
    src: url('../css/fonts/blackout-midnight-webfont.woff2') format('woff2'),
         url('../css/fonts/blackout-midnight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }

@font-face {
    font-family: 'quicksandregular';
    src: url('../css/fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandbold';
    src: url('../css/fonts/quicksand-bold-webfont.woff2') format('woff2'),
         url('../css/fonts/quicksand-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
